@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

*{
color: gold;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
}

h2 { text-align: center
}
red {
    color: darkred;
    background-color: rebeccapurple;

}
nav {
    border-style: solid;
    display: inline-block;
    color: greenyellow;
    border-color: #330867;
    width: 100%;
    }
h1 {
    display: inline-block;
}
h5 {
    inset-inline: 50px;
}
.cena {
    border-radius: 20px;
}
.cena2 {
    border-radius: 20px;
    position: absolute;
    right: 0px;
}
