@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}

.randomOnRefresh{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;

}

#randomWrapper{
    width: 100vw;
    display: grid;
    place-items: center;
    margin-bottom: 70px;

}
#random {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 95vw;
    height: 95vh;

}

#footer {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #21afc9;
    text-align: center;
    height: 60px;
    position: relative;
    background-color: #333;
    bottom: 0;
    margin: 5px;

}





.bild0 {
    background-image: url("3er-35-media-hd.webp");

}

.bild1 {
    background-image: url("3er-10-media-hd.webp");

}

.bild2{
    background-image: url("3er-20-media-hd.webp");

}

.bild3{
    background-image: url("3er-25-media-hd-2.webp");

}

.bild4{
    background-image: url("3er-30-media-hd.webp");
}

.bild5{
    background-image: url("3er-06-media-hd.webp");
}

.bild6{
    background-image: url("3er-15-media-hd.webp");
}


.topimage{
    width: 90vh;
    border-radius: 100000000px;
    border: 15px solid #333;
}

.rightimagewrapper{
    display:grid;
    place-content: flex-end;
    margin-right: 150px;
}

.rightimage{
    width: 90vh;
    border-radius: 10000000px;
    border: 15px solid #333;
}

.leftimage{
    width: 90vh;
    border-radius: 1000000000px;
    border: 15px solid #333;
    margin-left: 150px;
}

.leftimagewrapper{
    display: grid;
   place-content: left;
}

.midimagewrapper{
display:grid;
    place-content: center;
}

.midimage{
    border-radius: 50px;
    border: 8px solid #333;
    width: 100vh;
}

.mlogo {

    z-index: -1000000;
    width: 25vw;

}
.bmw{
    width: 18vw;
}
.Bimmerpda {
    font-size: 5vw;
}

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;

}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgb(69,34,195);
    background: linear-gradient(94deg, rgba(69,34,195,1) 0%, rgba(253,76,45,1) 100%);
    overflow-x: hidden;
}


header {font-size: 100px;
    -webkit-text-stroke: 1px black;
    color: blue;
    text-shadow:
            3px 2px 0 #D82929,
            -1px -1px 0 blue,
            1px -1px 0 blue,
            -1px 1px 0 blue,
            1px 1px 0 purple;
    text-align: center}

midsection{
    text-align: center;
    color: black;
    margin-left: 150px;
    margin-right: 150px;
    text-shadow:

            1px 1px 0 #21afc9,
            1px 1px 0 #21afc9,
            -1px -1px 0 #D82929,
            1px 1px 0 #21afc9;
}

rightsection{
    text-align: right;
    color: black;
    margin-left: 150px;

    text-shadow:

            1px 1px 0 #21afc9,
            1px 1px 0 #21afc9,
            -1px -1px 0 #D82929,
            1px 1px 0 #21afc9;

}

leftsection{
    text-align: left;
    color: black;
    margin-right: 150px;

    text-shadow:

            1px 1px 0 #21afc9,
            1px 1px 0 #21afc9,
            -1px -1px 0 #D82929,
            1px 1px 0 #21afc9;

}

.contentwrapper{
    padding-right: 30px;
    padding-left: 30px;

}
@media (min-width: 1000px) {
    .contentwrapper{
        padding-right: 150px;
        padding-left: 150px;

    }
}

article {
    text-align: right;
    color: black;
    margin-left: 150px;
    margin-right: 150px;
    text-shadow:

            1px 1px 0 #21afc9,
            1px 1px 0 #21afc9,
            -1px -1px 0 #D82929,
            1px 1px 0 #21afc9;
}

articleleft {
    text-align: left;
    color: black;
    margin-left: 150px;
    text-shadow:

            1px 1px 0 #21afc9,
            1px 1px 0 #21afc9,
            -1px -1px 0 #D82929,
            1px 1px 0 #21afc9;
}

h3 {
    text-align: center;
    color: black;
    margin-left: 150px;
    margin-right: 150px;
    text-shadow:

            1px 1px 0 #21afc9,
            1px 1px 0 #21afc9,
            -1px -1px 0 #D82929,
            1px 1px 0 #21afc9;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    display: flex;
    flex-direction: row;

}
.navwrap {
    width: 100vw;
    padding: 10px;
}
@media (max-width: 1246px){
    .navbar {
        overflow: hidden;
        background-color: #333;
        font-family: Arial;
        display: flex;
        flex-direction: column;

    }
}
.navbar > a {
    float: left;
    font-size: 30px;
    color: white;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color:white;
}

.dropdown > .dropbtn {
    font-size: 30px;
    border: none;
    outline: none;
    color: inherit;

    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ffb173;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover > .dropdown-content {
    display: block;
}

.dropdown.einser, .dropdown.siebener{
    color:deepskyblue;
}
.dropdown.dreier, .dropdown.x {
    color:#3333ff;
}
.dropdown.fuenfer, .dropdown.z {
    color:red;
}

.content{
    padding: 20px;
}



.show {
    display: block;
}