#suchbar {
    position: absolute;
    top: 28%;
}

#google{
    position: relative;
    left: 50px;
    top: 50px;

}

#corner {
    position: relative;
    left: 1000px;


}
#topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
